body{
	display: grid;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	background-image: url(img/logo_hp.jpg);
	background-position: bottom 300px 	 ;
	background-repeat: no-repeat;
	background-size: cover;
}

.container1{
	max-width: 1280px; 
	margin: auto; /*Centraliza o elemento na tela*/
}

/*index*/

ul{
	list-style-type: disc;
}

li{
	font-size: 160%;
	display: inline-block;
	margin: 0px 50px;
}

a{
	color: #fff;
	text-decoration: none;
}

.flex{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header{
	width: 100%;
	padding: 60px 1%;
	position: absolute;
	top: 0;
	left: 0;
}

.contato button{
	width: 100px;
	height: 35px;
	border: 0;
	border-radius: 5px;
	background-color: #fff;
	color: #1c1c1c;
	cursor: pointer;
	transition: .2s;
}

.footer{
	width: 100%;
    height: 1%;
    text-align: center;
    flex-wrap: wrap;
    color: #f2f2f2;
	margin-top: 1%;
}

/*Fim index*/

/*Menu Transparente*/

.banner h1{
	font-size: 80px;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.banner h1 span{
	color: #fff;
}

.banner{
	height: 100vh;
	width:100%;
	background-image: url(img/logo_hp.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*Fim menu tranparaente*/

/*Fim página index*/

.container {
	margin-left: 12.5%;
    margin-right: 12.5%;
    padding-left: 1.5%;
    margin-bottom: 2%;
    padding-right: 1.5%;
    padding-top: 0.5%;
    padding-bottom: 1%;
    margin-top: 18%;
    text-align: justify;
    color: #000;
	font-size: 16px;
	background-color: #fff;
}

.container p {
	font-family: roboto;
	font-size: 130%;
	font-color: black;
}

#title{
	font-family: berlin sans fb;
	font-size: 250%;
	font-color: black;
}

.seta{
	float: align;
	margin-top: 1%;
}

.texto-hover {
    opacity: 0;
    transition: 1s ease-in-out;
    
}

.texto-hover:hover {
    opacity: 1;
}

